<h1 class="text-center">สแกนหมายสิ่งของ</h1>
<%= link_to 'ย้อนกลับ' , internals_path , class: 'btn btn-danger' %>
<%= link_to 'รายละเอียดเพิ่มเติม ป.210' , internal_path(@internal.id) , class: 'btn btn-primary' %>
<hr>
<%= render 'form' %>
