<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <title></title>
  </head>
  <body>
    <% if params[:debug].present? %>
      <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <% else %>
      <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <% end %>
    <h3>ภาษาไทยดิสัส</h3>
  </body>
</html>
