<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <title></title>
  </head>
  <body>
    <% if params[:debug].present? %>
      <%= stylesheet_link_tag 'report' %>
    <% else %>
      <%= wicked_pdf_stylesheet_link_tag 'report' %>
    <% end %>
    <h3>บัญชีมอบหมายถุงไปรษณีย์ในประเทศ</h3>
  </body>
</html>
