<h1 class="text-center">ศูนย์ไปรษณีย์นครสวรรค์</h1>

<div class="row">
	<div class="col-lg-12">
	  <div class="col-lg-6">
	    <%= link_to  "ป.58" , outbounds_path , class: 'btn btn-primary btn-lg btn-block'%>
	  </div>
	  <div class="col-lg-6">
	    <button type="button" class="btn btn-primary btn-lg btn-block">ป.210 (ยังไม่เปิดให้บริการครับ !!! )</button>
	  </div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">รายละเอียดการอัพเดท</div>
			<div class="panel-body">
				<ul class="list-group list-group-success">
				  <li class="list-group-item"> -เรียงป้ายปากถุงตามปลายทาง และปรับปรุง UI บางส่วน (21 พฤษภาคม 2563)</li>
				  <li class="list-group-item"> -สามารถลบป้ายปากถุงที่สแกนไปแล้ว โดยการสแกนซ้ำ (14 พฤษภาคม 2563)</li>
				  <li class="list-group-item"> -พิมพ์เอกสาร ป.58 (11 พฤษภาคม 2563)</li>
				  <li class="list-group-item"> -Scan ป้ายปากถุงลง ป.58 (11 พฤษภาคม 2563)</li>
				  <li class="list-group-item"> -สร้าง ป.58 (11 พฤษภาคม 2563)</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="jumbotron">
  			<h1 class="display-4">แสดงความคิดเห็น</h1>
			  <p class="lead">การร่วมแสดงความคิดเห็นเป็นส่วนช่วยทำให้แอพฯ สามารถตอบสนองต่อความต้องการของท่านได้</p>
			  <p class="lead">
			    <%= link_to "แสดงความคิดเห็น" , new_feedback_path , class: 'btn btn-primary btn-lg' %>
			  </p>
		</div>
	</div>
</div>
