<h1>ศูนย์ไปรษณีย์นครสวรรค์</h1>

<div class="col-lg-12">
  <div class="col-md-6">
    <button type="button" class="btn btn-primary btn-lg btn-block">ป.58</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary btn-lg btn-block">ป.210</button>
  </div>
</div>
