<h1 class="text-center">สแกนหมายเลขถุง</h1>
<%= link_to ' ย้อนกลับ' , outbounds_path , class: 'btn btn-danger fa fa-backward' %>
<%= link_to ' รายละเอียดเพิ่มเติม ป.58' , outbound_path(@outbound.id) , class: 'btn btn-info fa fa-info' %>
<hr>
<%= render 'form' %>
