table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url(data:font/truetype;charset=utf-8;base64,T1RUTw-----THIS IS HUNDREDS OF LINES LONG -------sGAnBSvO7nBqXQ==)
}

.custom_font {
  font-size: 24px;
  font-family: 'Source Sans Pro ExtraLight';
}
